<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Materi 7-1</title>

  <style>
    body {
      font-family: sans-serif;
    }
  </style>
</head>
<body>
  <div id="aplikasi">
    <form>
      <!-- <input type="text" name="nama" :value="nama" @input="nama = $event.target.value"> -->
      <!-- <input type="text" :value="nama" @input="tanganiMasukan($event)"> -->
      <input type="text" name="nama" v-model="nama">
    </form>
    <p>{{ nama }}</p>

    <hr>

    <form>
      <input v-model="pesan" placeholder="Sunting saya">
      <p>Pesannya adalah: {{ pesan }}</p>

      <hr>

      <span>Pesan multibarisnya adalah:</span>
      <p style="white-space: pre-line;">{{ pesanMultibaris }}</p>
      <br>
      <textarea v-model="pesanMultibaris" placeholder="Tambahkan beberapa baris"></textarea>

      <hr>

      <input type="checkbox" id="kotakCentang" v-model="tercentang">
      <label for="kotakCentang">{{ tercentang }}</label>

      <hr>

      <input type="checkbox" id="jack" value="Jack" v-model="namaNamaTercentang">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="namaNamaTercentang">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="namaNamaTercentang">
      <label for="mike">Mike</label>
      <br>
      <span>Nama-nama yang tercentang: {{ namaNamaTercentang }}</span>

      <hr>

      <input type="radio" id="satu" value="Satu" v-model="terpilih">
      <label for="satu">Satu</label>
      <br>
      <input type="radio" id="dua" value="Dua" v-model="terpilih">
      <label for="dua">Dua</label>
      <br>
      <span>Terpilih: {{ terpilih }}</span>

      <hr>

      <select v-model="terseleksi">
        <option disabled value="">Mohon seleksi satu</option>
        <!-- <option>A</option>
        <option>B</option>
        <option>C</option> -->
        <option value="1">Makkah</option>
        <option value="2">Baitulmaqdis</option>
        <option value="3">Sleman</option>
      </select>
      <span>Terseleksi: {{ terseleksi }}</span>

      <hr>

      <select v-model="terseleksiBanyak" multiple>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <br>
      <span>Terseleksi: {{ terseleksiBanyak }}</span>

      <hr>

      <select v-model="terseleksiDinamis">
        <option disabled value="">Mohon seleksi satu</option>
        <option v-for="opsi in opsiOpsi" :value="opsi.nilai">
        <!-- Bisa tanpa value 👉 value = isi (opsi.teks) -->
        <!-- <option v-for="opsi in opsiOpsi"> -->
          {{ opsi.teks }}
        </option>
      </select>
      <span>Selected: {{ terseleksiDinamis }}</span>
    </form>

    <hr>

    <form>
      <!-- <input v-model="psn"> -->
      <input v-model.lazy="psn">
    </form>
    <p>{{ psn }}</p>

    <hr>

    <form>
      <!-- <input v-model="usia" type="number"> -->
      <input v-model.number="usia" type="number">
    </form>
    <p>{{ usia }}</p>

    <hr>

    <form>
      <input v-model.trim="psnPangkas">
    </form>
    <p>{{ psnPangkas }}</p>

    <hr>

    <!-- <form @submit="ajukanFormulir($event)"> -->
    <form @submit.prevent="ajukanFormulir">
      <p v-if="erorEror.length">
        <i>MOHON PERBAIKI KESALAHAN BERIKUT:</i>
        <ul>
          <li v-for="eror in erorEror"><i>{{ eror }}</i></li>
        </ul>
      </p>

      <label for="titel">Titel:</label>
      <!-- <span>{{ titel }}</span> -->
      <br>
      <input type="text" name="titel" id="titel" v-model="titel" ref="titel">
      <br>
      <label for="deskripsi">Deskripsi:</label>
      <!-- <span>{{ deskripsi }}</span> -->
      <br>
      <textarea name="deskripsi" id="deskripsi" v-model="deskripsi" ref="deskripsi"></textarea>
      <br>
      <input type="submit" value="Ajukan">
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#aplikasi',
      data: {
        nama: 'Muhammad Alif',
        pesan: '',
        pesanMultibaris: '',
        tercentang: false,
        namaNamaTercentang: [],
        terpilih: '',
        terseleksi: '',
        terseleksiBanyak: [],

        // terseleksiDinamis: 'A',
        terseleksiDinamis: '',
        opsiOpsi: [
          {teks: 'Satu', nilai: 'A'},
          {teks: 'Dua', nilai: 'B'},
          {teks: 'Tiga', nilai: 'C'},
        ],

        psn: '',
        usia: null,
        psnPangkas: '',
        titel: '',
        deskripsi: '',
        erorEror: []
      },
      methods: {
        // tanganiMasukan(kejadian) {
        //   this.nama = kejadian.target.value
        // },
        // ajukanFormulir(kejadian) {
        //   console.log(kejadian)

        //   kejadian.preventDefault()
        // },
        ajukanFormulir() {
          // let eror = 0
          this.erorEror = []

          if (this.titel.length < 6) {
            // eror++
            this.erorEror.push('Titel minimal 6 karakter~')

            this.$refs.titel.focus()

            // alert('Titel minimal 6 karakter')
          // } else if (this.deskripsi.length > 20) {
          //   // eror++
          //   this.erorEror.push('Deskripsi maksimal 20 karakter')

          //   this.$refs.deskripsi.focus()

          //   // alert('Deskripsi maksimal 20 karakter')
          // }
          }

          if (this.deskripsi.length > 20) {
            // eror++
            this.erorEror.push('Deskripsi maksimal 20 karakter~')

            this.$refs.deskripsi.focus()

            // alert('Deskripsi maksimal 20 karakter')
          }

          // if (!eror) {
          if (this.erorEror.length === 0) {
            alert('Terima kasih, Anda telah mengisi data dengan benar')
          }
        },
      },
    })
  </script>
</body>
</html>
